body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    width: 100%;
}
.topscr{
    margin: 0;
    color: white;
    background-color: rgb(16, 45, 82);
    font-size:13px;
    width: 100%;
    height: 25px;
    padding-top: 8px;
}
.brands{
    background-color:rgba(0, 0, 0, 0.781);
    height: 55px;
    width: 100%;
    position:relative;
}
.brd1{
    color:white;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    height: 55px;
    width:100px;
    padding-top:12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    font-weight: 900;
}
.brd1:focus{
    background-color: white;
    color: black;
}
.first{
    position: absolute;
    top:0;
    left: 100px;
}
.sec{
    position:absolute;
    top:0;
    left: 200px;
}
.third{
    position: absolute;
    top:0;
    left: 300px;
}
.fourth{
    position: absolute;
    top:0;
    left: 400px;
}
.fifth{
    position: absolute;
    top:0;
    left: 950px;
}
.brd2{
    color: white !important;
    font-size: 14px !important;
    font-family:sans-serif;
    font-weight:300 !important;
    letter-spacing: 0.1 !important;
}
.brd2:hover{
    color: yellow !important;
}
.brd2:focus{
    background-color: rgba(0, 0, 0, 0) !important;

}
.allenhome{
    background-color:white;
    width: 100%;
    height:80px;
    position: fixed;
}
.allenlogo{
    height: 60px;
    width:200px;
    margin-top:10px;
    margin-left: 100px;
    float: left;
}
.buttons button{
    background-color:white;
    border: none;
    float: left;
    color:  rgb(8, 23, 43);
    font-size:14px;
    width: 70px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 36px;
}
.new{
    width: 120px !important;
}
.sizes{
    width: 140px !important;
}
.sale{
    color: red !important;
}
.items{
    position: absolute;
    top: 180px;
    left: 100px;
}
.buttons button:hover{
    font-size: 15px;
    font-weight: 600;
    text-decoration: 1px underline red;
}
.search{
    border: none;
    border-bottom: 1px solid rgb(8, 23, 43);
    width: 300px;
    height: 30px;
    position: absolute;
    top:20px;
    left: 1000px;
    z-index:-1;
}
.search::placeholder {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.search:focus{
    outline: none;
}
.s_logo{
    position: absolute;
    top:25px;
    left: 1000px;
    z-index: 1;
}