body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}
.topscr{
    margin: 0;
    color: white;
    background-color: rgb(16, 45, 82);
    font-size:13px;
    width: 100vw;
    height: 25px;
    padding-top: 8px;
}
.brands{
    background-color:rgba(0, 0, 0, 0.781);
    height: 7vh;
    width: 100vw;
    position:relative;
}
.brd1{
    color:white;
    background-color: rgba(255, 255, 255, 0);
    border:none;
    height: 7vh;
    width:100px;
    padding-top:12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    font-weight: 900;
}
.brd1:focus{
    background-color: white;
    color: black;
}
.first{
    position: absolute;
    top:0;
    left: 100px;
}
.sec{
    position:absolute;
    top:0;
    left: 200px;
}
.third{
    position: absolute;
    top:0;
    left: 300px;
}
.fourth{
    position: absolute;
    top:0;
    left: 400px;
}
.fifth{
    margin-top: 20px;
    position: absolute;
    top:-8px;
    left: 950px;
    border-right: 1px solid rgba(255, 255, 255, 0.363);
    height: 27.5px;
    
}
.loclog{
    position:absolute;
    top:11px;
    left: 930px;

}
.brd2{
    color: white !important;
    font-size: 14px !important;
    font-family:sans-serif;
    font-weight:300 !important;
    letter-spacing: 0.1 !important;
}
.brd2:hover{
    color: yellow !important;
}
.brd2:focus{
    background-color: rgba(0, 0, 0, 0) !important;

}
.allenhome{
    background-color:white;
    width: 100vw;
    height:10vh;
    position: sticky;
    top: 0;
}
.allenlogo{
    height: 60px;
    width:200px;
    margin-left: 100px;
    float: left;
}
.buttons button{
    background-color:white;
    border: none;
    float: left;
    color:  rgb(8, 23, 43);
    font-size:14px;
    width: 70px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}
.new{
    width: 120px !important;
}
.sizes{
    width: 140px !important;
}
.sale{
    color: red !important;
}
.mendiv{
    width:100vw;
    height:0vh;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-120%);
    text-align: left;
}
.men:focus .mendiv{
    transform: translateX(-340px);
    background-color: white;
    height: 65vh;
}
.womendiv{
    width:100vw;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0);
    transform: translateX(-120%);
    text-align: left;
}
.women:focus .womendiv{
    transform: translateX(-410px);
    background-color: white;
    height: 65vh;
}
.items{
    position: absolute;
    top: 10px;
    color: black;
    left: 100px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.3px;
    font-weight: 500;
    line-height: 18px;
    list-style-type: none;
}
.items2{
    position: absolute;
    top: 10px;
    color: black;
    left: 350px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.3px;
    font-weight: 500;
    line-height: 18px;
    list-style-type: none;
}
.itemh{
    color:  rgb(8, 23, 43);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.8px;
    line-height: 40px;
}
.buttons button:hover{
    font-size: 15px;
    font-weight: 600;
    text-decoration: 1px underline red;
}
.search{
    border: none;
    border-bottom: 1px solid rgb(8, 23, 43);
    width: 300px;
    height: 30px;
    position: absolute;
    top:20px;
    left: 1000px;
    z-index:-1;
    padding-left: 23px;
}
.search::placeholder {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.search:focus{
    outline: none;
}
.s_logo{
    position: absolute;
    top:20px;
    left: 995px;
    z-index: 1;
}
.mainpic{
    margin-top: 30px;
}
.heading{
    width: 100vw;
    height:15vh;
    color:  rgb(8, 23, 43);
    font-size: 30px;
    text-align: center;
    padding-top:50px;
    font-weight: bold;
    box-sizing: border-box;
}
.shirtpic{
    margin-top: 10vh;
    margin-left: 15vh;
}
@media only screen and (max-width:700px){
    .brands{
        height: 100vh;
        width: 15vw;
        float: left;
        z-index: 5;
        margin-top: 6vh;
        position: sticky;
        top: 0;
    }
    .brd1{
        width: 15vw;
        height:8vh;
        font-size: 15px;
        padding-top: px;
    }
    .first{
        top: 0;
        left: 0;
    }
    .sec{
        top: 8vh;
        left: 0;
    }
    .third{
        top: 16vh;
        left: 0;
    }
    .fourth{
        top: 24vh;
        left: 0;
    }
    .brd2:focus{
        background-color: white !important;
        color: black !important;
    }
    .fifth{
        top: 30vh;
        left: 0;
        height: 8vh;
    }
    .loclog{
        display: none;
    }
    .mainpic{
        width: 85vw;
        height: 25vh;
        margin-top: 53px;
        float: left;
    }
    .allenlogo{
        margin-top: 80vh;
    }
    .mendiv,.womendiv{
        transform: translateX(-200%);
    }
    .allenhome{
        height: 3vh;
        width: 100vw;
        position: absolute;
        top: 2.5vh;
        left: 0;
    }
    .buttons{
        position: absolute;
        left: 0vw;
    }
    .heading{
        margin-top: 28vh;
    }
}